# Configuracion
# 
# ./bin/daemon_fuse_hybrid -d ./test -o big_writes
#
# ruta del directorio real
base_path = ./test_real
# ruta de la referencia
reference_file = ./data/ref.bin
# block_size para la compression
compress_block_size = 100000
# numero maximo de threads a ser usados para comprimir
compress_max_threads = 4
# largo de bloque para descomprimir (se pide/borra esa ram por cada descompresion completa)
decompress_line_size = 65536
# Tamaño preferido para operaciones IO (por ejemplo, write)
# Para usarlo apropiadamente, agrego "-o big_writes" al demonio
io_block_size = 131072
# io_block_size = 4096
# URL del server
host = 172.17.68.145
# Puerto del server
port = 63818
# ID del usuario virtual de este cliente
user_id = 1
# 
# Fin Configuracion


