# Configuration
# 
# ./build/bin/daemon_fuse_client ./test -d -o big_writes daemon_fuse_client.config
#
# To end the program:
# fusermount -u ./test
#

##### References Definitions #####

# Total Number of References
# Note that this parameter MUST be followed by each reference (as "reference_name = path")
n_ref = 2

# References asociated with each subdirectory
# These subdirectories are relative to the mounting point
# There MUST be at least one association "/ = reference" that is used when no other, more specific reference, is found.
/ = ./data/ref_rr100.bin
/hg16/ = ./data/ref16_rr100.bin

##### END of References Definitions #####

# Path to the real storage directory
base_path = ./test_real_client

# Blocksize for compression
compress_block_size = 100000

# Max number of threads used for compression
compress_max_threads = 4

# Buffer size for decompression (this size is reserved/deleted for each full decompression)
decompress_line_size = 65536

# Prefered size of IO operations (ie, write)
# To use this variable, a "-o big_writes" should be added to the daemon
io_block_size = 131072
# io_block_size = 4096

# URL for the server
# host = 158.170.35.87
host = localhost

# Port for the server
port = 63818

# ID for the virtual user of this client
user_id = 1

# 
# END of Configuration


